# @link <https://help.github.com/en/articles/about-code-owners>

* @tarampampam
/public/_locales/zh_CN/ @yfdyh000
/public/_locales/pt_BR/ @inkhorn-ptbr
/public/_locales/de/ @Xenorio
/public/_locales/fr/ @maxgfr
/public/_locales/id/ @tustoz
