$scrollbar-width: 8px;

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: $scrollbar-width;
  background-color: var(--color-scrollbar-thumb);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Arial, sans-serif;
  font-size: 16px;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);

  a {
    color: var(--color-link-primary);
  }
}

label {
  cursor: pointer;
}
