:root {
  --color-scrollbar-thumb: #aaa;

  --color-bg-primary: #fff;
  --color-bg-light: #f2f2f2;
  --color-bg-inverted: #3a3a3a;
  --color-bg-info: #d1ecf1;
  --color-bg-ok: #d1e7dd;
  --color-bg-err: #f8d7da;

  --color-text-primary: #454545;
  --color-text-light: #aaa;
  --color-text-inverted: #fff;
  --color-text-info: #0c5460;
  --color-text-ok: #0f5132;
  --color-text-err: #842029;

  --color-link-primary: #454545;
  --color-link-light: #9a9a9a;

  --color-ui-border-primary: #888;
  --color-ui-border-light: #e7e7e7;
  --color-ui-border-info: #bee5eb;
  --color-ui-border-ok: #badbcc;
  --color-ui-border-err: #f5c2c7;
  --color-ui-border-active: #68bc86;

  --color-ui-bg-primary: #fff;
  --color-ui-bg-disabled: #f1f1f1;
  --color-ui-bg-active: #68bc86;
  --color-ui-bg-active-dark: #5ba575;
  --color-ui-on: #62c162;
  --color-ui-off: #f56f23;
  --color-ui-spacer: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-scrollbar-thumb: #666;

    --color-bg-primary: #2f2f2f;
    --color-bg-light: #3a3a3a;
    --color-bg-inverted: #eaeaea;
    --color-bg-info: #256e9f;
    --color-bg-ok: #018563;
    --color-bg-err: #8c2e23;

    --color-text-primary: #eaeaea;
    --color-text-light: #666;
    --color-text-inverted: #2f2f2f;
    --color-text-info: #ecf4f8;
    --color-text-ok: #ebf3f0;
    --color-text-err: #f1ebea;

    --color-link-primary: #f8f8f8;
    --color-link-light: #6a6a6a;

    --color-ui-border-primary: #666;
    --color-ui-border-light: #3e3e3e;
    --color-ui-border-info: #2a79af;
    --color-ui-border-ok: #018d69;
    --color-ui-border-err: #a13629;
    --color-ui-border-active: #6bcc7e;

    --color-ui-bg-primary: #292929;
    --color-ui-bg-disabled: #2f2f2f;
    --color-ui-bg-active: #68bc86;
    --color-ui-bg-active-dark: #5ba575;
    --color-ui-on: #2a9f41;
    --color-ui-off: #be3a1b;
    --color-ui-spacer: #eee;
  }
}
