@forward '~/theme/theme';

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100px;
  padding: 0 1.2em;
  // we should not use gradient here - https://github.com/tarampampam/random-user-agent/issues/184
  background-color: var(--color-bg-light);
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 1.1em;
  color: var(--color-text-primary);
  overflow: hidden;
  user-select: text;
}
