.button {
  display: block;
  font-size: 1.5em;
  margin: 0.7em 1em;
  text-align: center;
  cursor: pointer;

  background-color: var(--color-bg-info);
  color: var(--color-text-info);
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: 2px solid var(--color-ui-border-info);

  animation: pulse 2s infinite;

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(125, 125, 125, 0.25);
    }
    70% {
      box-shadow: 0 0 0 17px rgba(125, 125, 125, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(125, 125, 125, 0);
    }
  }

  &:hover {
    text-decoration: none;
  }
}
