@forward '~/theme/theme';

.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: var(--color-ui-border-light);
  border-width: 0 0 0.1em 0;
  font-size: 1.2em;

  & > * {
    margin: 1em;
  }
}
