@font-face {
  font-family: 'Roboto';
  src: local(Roboto Regular), url('roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
}