@import url('ui.css');

html, body {
  font-size: 14px;
}
  body {
    padding: 0 1em 0.5em 1em;
    width: 510px;
    margin: 0 auto;
  }

#main {
  height: 640px;
  overflow-y: auto;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 120%;
}
  p.hint {
    color: #555;
    font-size: 0.8em;
  }

.no-bottom-padding {
  margin-bottom: 0;
  padding-bottom: 0;
}

label {
  cursor: pointer;
}

input[type=number],
input[type=text],
textarea {
  padding: 0 0.3em;
  margin: 0;
  font-size: 0.9em;
  border: 1px solid #ddd;
  border-radius: 1px;
  line-height: 130%;
}

input[type=text],
textarea {
  font-size: 0.8em;
  font-family: 'Lucida Console','Lucida Sans Typewriter',monaco,'Bitstream Vera Sans Mono',monospace;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


textarea {
  resize: vertical;
  overflow-y: scroll;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 500px;
}

hr {
  margin: 1em 0;
}

.block.switches-at-left {
  padding: 0.2em 0;
}
  .block.switches-at-left .left {
    text-align: right;
    width: 10%;
  }
    .block.switches-at-left .left input {
      text-align: right;
    }
  .block.switches-at-left .right {
    text-align: left;
    padding-top: 0.3em;
    width: 88.5%;
  }
  .block.switches-at-left .clear {
    height: 6px;
  }

  .block input[type=number],
  .block input[type=text] {
    width: 90%;
  }

  input.full-width,
  textarea.full-width {
    width: 99.8%;
    padding: 0.5em 0.5em;
  }

  input.full-width {
    margin: 0.2em 0 0.5em 0;
  }

  ul.generator-types {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
    ul.generator-types li {
      padding: 0.1em 0.2em 0.1em 0.3em;
      float: left;
      display: inline;
      width: 50%;
    }