@import url('ui.css');

*, :after, :before {
  cursor: default;
  user-select: none;
  -moz-user-select: none; /* Firefox still requires their prefix */
}

html, body {
  width: 280px;
  height: auto;
  min-height: 230px;
  font-size: 14px;
}

a,
a:hover,
a:active {
  cursor: pointer;
}

#main {
  position: absolute;
}
  .block {
    padding: 1em 1.2em;
    color: #656565;
  }
  .block.user_agent {
    background-color: #f2f2ed;
  }
    .block.user_agent > h2 {

    }
    .block.user_agent .active {
      color: #333;
      padding-top: 0.9em;
      display: table;
      position: relative;
      overflow: hidden;
      height: 100px;
      width: 100%;

    }
      .block.user_agent .active h5 {
        font-size: 0.85em;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        font-family: 'Lucida Console','Lucida Sans Typewriter',monaco,'Bitstream Vera Sans Mono',monospace;
        -webkit-user-select: text;
        cursor: text;
      }

  .block.active {}
    .block.active h2 {
      position: relative;
      top: 0.3em;
    }

  .block.actions {
    padding: 0.65em 0;
  }
    .block.actions ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
      .block.actions ul li {
        position: relative;
        padding: 0.75em 1.2em;
        white-space: pre;
        cursor: pointer;
      }
        .block.actions ul li i {
          width: 1em;
          height: 1em;
          font-size: 1.8em;
          position: absolute;
          top: 0.16em;
          opacity: 0.8;
          cursor: inherit;
        }
        .block.actions ul li span {
          padding-left: 2.2em;
          cursor: inherit;
        }
      @keyframes blinking-background-important {
        0%   { background-color: transparent; }
        30%  { background-color: rgba(87, 222, 114, 0.2); }
        50%  { background-color: rgba(87, 222, 114, 0.25); }
        100% { background-color: transparent; }
      }
      .block.actions ul li.change-enabled-state.enable {
        background-color: inherit;
        animation:        blinking-background-important 2s infinite;
        text-shadow: 0px 0px 4px #fff;
      }
    .block.actions ul li:hover,
    .block.actions ul li.change-enabled-state:hover {
      color: #222;
      animation: none;
      background-color: rgba(0,0,0,0.05);
    }
    .block.actions ul li:hover i {
      color: #151515;
    }

  .block.footer {
    background-color: #f2f2ed;
    font-size: 0.75em;
    text-align: center;
    padding-bottom: 0.8em;
  }
